  
/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion*/

/*#region body*/
#body {
  background-color: #ebd28d;
}
/*#endregion*/

/*#region title section*/
#title-section {
  background-color: aqua;
  width:100%;
  height:auto;
  padding-top:5vh;
  padding-bottom:5vh;
  text-align:center;
}
#title {
  font-family:Helvetica, sans-serif;
  font-size:50px;
}
/*#endregion*/

/*#region button*/
#button-section {
  height:20vh;
  background-color: #ebd28d;
}

#randomizer-button {
  background-color: green;
  width:10vw;
  min-height:100%;
  margin-left: 45vw;
  font-size: 16px;
  border:2px solid red;
}
/*#endregion*/

/*#region poems*/
#poem-section {
  width:80vw;
  height:auto;
  margin-left: 10vw;
  background-color: red;
}
/*#endregion*/
