  
/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion*/

#body {
  background-color: #ebd28d;
}


#test {
  font-family: 'Indie Flower', cursive;
  font-size:30px;
}